<div [formGroup]="checkoutForm">
    <div>
        <h4>Shipping address</h4>
        <button 
            (click)="saveUserAddress()"
            [disabled]="!checkoutForm.get('addressForm').valid || !checkoutForm.get('addressForm').dirty">
            Save as default address
        </button>
    </div>
    <div formGroupName="addressForm">
        <div>
            <app-text-input [label]="'First Name'" formControlName="firstName"></app-text-input>
        </div>
        <div>
            <app-text-input [label]="'Last Name'" formControlName="lastName"></app-text-input>
        </div>
        <div>
            <app-text-input [label]="'Street'" formControlName="street"></app-text-input>
        </div>
        <div>
            <app-text-input [label]="'City'" formControlName="city"></app-text-input>
        </div>
        <div>
            <app-text-input [label]="'State'" formControlName="state"></app-text-input>
        </div>
        <div>
            <app-text-input [label]="'Zip Code'" formControlName="zipcode"></app-text-input>
        </div>
    </div>
</div>

<div>
    <button routerLink="/basket">Back to Basket</button>
    <button cdkStepperNext>Go to Delivery</button>
</div>
