<div *ngIf="(basket$ | async) === null">
    <p>There are no items in your basket</p>
</div>

<div *ngIf="basket$ | async">
    <app-basket-summary
        (decrement)="decrementItemQuantity($event)"
        (increment)="incrementItemQuantity($event)"
        (remove)="removeBasketItem($event)"
        [items]="(basket$ | async).items"
    ></app-basket-summary>
    <hr>
    <div>
        <app-order-totals
            *ngIf="(basketTotals$ | async)"
            [shippingPrice]="(basketTotals$ | async).shipping"
            [subtotal]="(basketTotals$ | async).subtotal"
            [total]="(basketTotals$ | async).total"
        ></app-order-totals>
        <a routerLink="/checkout">Proceed to checkout</a>
    </div>
</div>
